table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 50%;
	border: 3px solid #ddd;
}

th, td {
	text-align: left;
	padding: 15px;
	height: 20px;
	padding-top: .4em;
    padding-bottom: .4em;
}

tr {
	height: 30px;
}